@model BIDC_CreditContracts.Models.CreateHypothecContractEng
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Hypothec Contract</h2>
<h3>Are you sure you want to delete this?</h3>
<div class="form-horizontal">
    <ul class="col-md-12 nav nav-tabs">
        <li id="itemhome" class="active"><a data-toggle="tab" href="#home">Secured</a></li>
        <li id="item1"><a data-toggle="tab" href="#menu1">Hypothecator</a></li>
        <li id="item2"><a data-toggle="tab" href="#menu2">Debtor</a></li>
        <li id="item3"><a data-toggle="tab" href="#menu3">Property</a></li>
    </ul>
    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <br />
            <br />
            <fieldset>
                <table class="table">
                    <tr>
                        <td class="tdtitle">@Html.LabelFor(model => model.ContractNo)</td>
                        <td class="tdcontent">@Html.DisplayFor(model => model.ContractNo)</td>
                        <td class="tdtitle">@Html.LabelFor(model => model.CreditContract)</td>
                        <td class="tdcontent">@Html.DisplayFor(model => model.CreditContract)</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">@Html.LabelFor(model => model.BranchName)</td>
                        <td class="tdcontent">@Html.DisplayFor(model => model.BranchName)</td>
                        <td class="tdtitle">@Html.LabelFor(model => model.BranchDirector)</td>
                        <td class="tdcontent">@Html.DisplayFor(model => model.BranchDirector)</td>
                    </tr>
                </table>
            </fieldset>

            <fieldset>
                <table class="table">
                    <tr>
                        <td class="tdtitle">@Html.LabelFor(model => model.CreditContractDate)</td>
                        <td class="tdcontent">@Html.DisplayFor(model => model.CreditContractDate)</td>
                        <td class="tdtitle">@Html.LabelFor(model => model.TypeOfLoanContract)</td>
                        <td class="tdcontent">@Html.DisplayFor(model => model.TypeOfLoanContract)</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">@Html.LabelFor(model => model.CreditContractAmount)</td>
                        <td class="tdcontent">@Model.CreditContractAmount.ToString("###,###,###.00")</td>
                        <td class="tdtitle">@Html.LabelFor(model => model.Currency)</td>
                        <td class="tdcontent">@Html.DisplayFor(model => model.Currency)</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">@Html.LabelFor(model => model.CreditContractInterestRate)</td>
                        <td class="tdcontent">@Html.DisplayFor(model => model.CreditContractInterestRate)</td>
                        <td class="tdtitle">@Html.LabelFor(model => model.Damages)</td>
                        <td class="tdcontent">@Html.DisplayFor(model => model.Damages)</td>
                    </tr>
                </table>
            </fieldset>

            <fieldset>
                <table class="table">
                    <tr>
                        <td class="tdtitle">@Html.LabelFor(model => model.Cif)</td>
                        <td class="tdcontent">@Html.DisplayFor(model => model.Cif)</td>
                        <td class="tdtitle">@Html.LabelFor(model => model.TypeOfCompany)</td>
                        <td class="tdcontent">@Html.DisplayFor(model => model.TypeOfCompany)</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">@Html.LabelFor(model => model.CompanyName)</td>
                        <td class="tdcontent">@Html.DisplayFor(model => model.CompanyName)</td>
                        <td class="tdtitle">@Html.LabelFor(model => model.CompanyRegistrationNo)</td>
                        <td class="tdcontent">@Html.DisplayFor(model => model.CompanyRegistrationNo)</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">@Html.LabelFor(model => model.CompanyAddress)</td>
                        <td class="tdcontent">@Html.DisplayFor(model => model.CompanyAddress)</td>
                        <td class="tdtitle">@Html.LabelFor(model => model.CompanyDirector)</td>
                        <td class="tdcontent">@Html.DisplayFor(model => model.CompanyDirector)</td>
                    </tr>
                </table>
            </fieldset>
        </div>

        <div id="menu1" class="tab-pane fade">
            <br />
            <br />
            <div id="ListHypothecator">
                @Html.Partial("_DetailHypothecatorEng", Model.listHypothecator)
            </div>
        </div>

        <div id="menu2" class="tab-pane fade">
            <br />
            <br />
            <fieldset>
                <table class="table">
                    <tr>
                        <td class="tdtitle">@Html.LabelFor(model => model.DebtorName)</td>
                        <td class="tdcontent">@Html.DisplayFor(model => model.DebtorName)</td>
                        <td class="tdtitle">@Html.LabelFor(model => model.DebtorBirthDate)</td>
                        <td class="tdcontent">@Html.DisplayFor(model => model.DebtorBirthDate)</td>
                    </tr>
                    <tr>
                        <td class="tdtitle">@Html.LabelFor(model => model.DebtorNationality)</td>
                        <td class="tdcontent">@Html.DisplayFor(model => model.DebtorNationality)</td>
                        <td class="tdtitle">@Html.LabelFor(model => model.DebtorAddress)</td>
                        <td class="tdcontent">@Html.DisplayFor(model => model.DebtorAddress)</td>
                    </tr>
                    
                </table>
            </fieldset>
        </div>

        <div id="menu3" class="tab-pane fade">
            <br />
            <br />
            <div id="ListProperty">
                @Html.Partial("_DetailPropertyEng", Model.listProperty)
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </div>
}

