@model BIDC_CreditContracts.Models.TypeOfContract

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TypeOfContract</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StandFor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StandFor)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
