@model IEnumerable<BIDC_CreditContracts.Models.CarLoanEnglish>

<div id="ListCarLoan">
    @if (ViewBag.Error != null)
    {
        <b class="alert-danger">@ViewBag.Error</b>
    }
    <h3>List Car Loan</h3>
    @foreach (var item in Model)
    {

        <fieldset>
            <table class="table">
                <tr>
                    <td>Description:</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Type:</td>
                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                    <td>Value:</td>
                    <td>@Html.DisplayFor(modelItem => item.Value)</td>
                </tr>
                
                <tr>
                    <td colspan="4" align="center">
                        @Ajax.ActionLink("Delete", "Delete", "CarLoan",
                        new { CarLoanDescription = item.Description, CardLoanValue = item.Value, isSaved = item.isSaved },
                        new AjaxOptions
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "ListCarLoan"
                        },
                        new { @class = "btn btn-danger" })
                    </td>
                </tr>
            </table>
        </fieldset>
    }
</div>
