@model IEnumerable<BIDC_CreditContracts.Models.PropertyViewKhmer>

<div id="ListPropertyKhmer">
    @if (ViewBag.Error != null)
    {
        <b class="alert-danger">@ViewBag.Error</b>
    }
    <h3>List Property</h3>
    @foreach (var item in Model)
    {
       
        <fieldset>
            <table class="table">
                <tr>
                    <td>ប្រភេទអចលនទ្រព្យ:</td>
                    <td>@Html.DisplayFor(modelItem => item.TypeOfProperty)</td>
                    <td>កម្មសិទ្ធករ:</td>
                    <td>@Html.DisplayFor(modelItem => item.Ownership)</td>

                </tr>
                <tr>
                    <td>លេខក្បាលដី:</td>
                    <td>@Html.DisplayFor(modelItem => item.Pacelnumber)</td>
                    <td>លេខបណ្ណ៍:</td>
                    <td>@Html.DisplayFor(modelItem => item.TitleNumber)</td>

                </tr>
                <tr>
                    <td>ទំហំសរុប</td>
                    <td>@Html.DisplayFor(modelItem => item.TotalSize)</td>
                    <td>ទីតាំង:</td>
                    <td>@Html.DisplayFor(modelItem => item.Location)</td>
                    
                </tr>
                
                <tr>
                    <td colspan="4" align="center">
                        @Ajax.ActionLink("Delete", "DeleteKhmer", "Properties",
                        new { pacelNumber = item.Pacelnumber, titleNumber = item.TitleNumber, isSaved = item.isSaved },
                        new AjaxOptions
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "ListPropertyKhmer"
                        }, 
                        new {@class="btn btn-danger"})
                    </td>
                </tr>
            </table>
        </fieldset>
    }
</div>



