@model IEnumerable<BIDC_CreditContracts.Models.DebtorEng>

<div id="ListDebtor">
    <h3>List Debtor</h3>
    @foreach (var item in Model)
    {
        <fieldset>
            <table class="table">
                <tr>
                    <td class="tdtitle">Name:</td>
                    <td>@Html.DisplayFor(modelItem => item.DebtorName)</td>
                    <td class="tdtitle">Sex:</td>
                    <td>@Html.DisplayFor(modelItem => item.DebtorSex)</td>

                </tr>
                <tr>
                    <td class="tdtitle">Date of birth:</td>
                    <td>@Html.DisplayFor(modelItem => item.DebtorBirthDate)</td>
                    <td class="tdtitle">Nationality:</td>
                    <td>@Html.DisplayFor(modelItem => item.DebtorNationality)</td>

                </tr>
                <tr>
                    <td class="tdtitle">Address:</td>
                    <td>@Html.DisplayFor(modelItem => item.DebtorAddress)</td>
                    <td class="tdtitle">Village:</td>
                    <td>@Html.DisplayFor(modelItem => item.DebtorVillage)</td>
                </tr>
                <tr>
                    <td class="tdtitle">Commune/Sangkat:</td>
                    <td>@Html.DisplayFor(modelItem => item.DebtorSangkat)</td>
                    <td class="tdtitle">District/Khan:</td>
                    <td>@Html.DisplayFor(modelItem => item.DebtorKhan)</td>
                </tr>
                <tr>
                    <td class="tdtitle">Capital/Province:</td>
                    <td>@Html.DisplayFor(modelItem => item.DebtorCapital)</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </fieldset>
    }
</div>

